* {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    color: white;
    transition: all .1s ease-in-out;
    border: 0px #F4F4F4 solid;
    border-radius: 5px;
}
a:hover {
    color: #F4F4F4;
    border: 2px #F4F4F4 solid;
    background-color: rgba(255, 255, 255, 0.3);
}
/* navbar */
.topbar{
    position: relative;
    z-index: 11;
    width: 100vw;
    margin-top: 1rem;
    overflow: visible;
    transform: translateY(0);
    transition: all .3s ease-out;
    color: white;
}
.topbar_wrapper{
    position: relative;
    padding: 1rem 3.75rem;
}
.logo{
    width: 7.8125rem;
    height: 1rem;
    filter: invert(1);
    cursor: pointer;
}
.menu span{
    margin: 0 1.25rem;
    width: auto;
    cursor: pointer;
}
.icons-left{
    cursor: pointer;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 3%;
}
.icons-left img {
    margin: 0 1rem;
    height: 24px;
    filter: invert(1);
}
