/* Row Hero */
.hero{
    height: calc(100vh - 4.5rem);
    padding: 3.75rem;
}
.hero_media{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0;
}
.media-item {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.media-item div{
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero_wrapper{
    display: flex;
    z-index: 1;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 35px;
    height: 100%;
}
.hero_title{
    font-weight: 300;
    line-height: 1;
}
.h1{
    color: white;
    margin: 0;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
}
.hero__titles__title{
    font-size: 3rem;
    font-weight: 400;
}
.hero__titles__subtitle{
    margin-top: .625rem;
    font-size: 3rem;
    font-weight: 900;
}
.hero_btn{
    cursor: pointer;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: auto;
    min-width: 10rem;
    border: white 2px solid;
    border-radius: 5px;
    padding: .7rem 1rem;
}
.hero_btn span{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: .75rem;
    font-weight: 900;
    letter-spacing: .5px;
    align-items: center;
    justify-content: center;
}
/* row Devialet mania*/
.DevialetMania_wrapper{
    display: flex;
    flex-wrap: nowrap;
    padding: 4rem 5em;
}
.img_container{
    height: 100vh;
    width: 50vw;
}
.img_container img{
    height: 90%;
    border-radius: 7px;
}
.D_mania_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4rem;
}
.D_mania_text h2{
    font-size: 4rem;
    font-weight: 900;
}
.D_mania_text p{
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.25rem;
}
.D_mania_text h4{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-top: 1.25rem;
}

.flash_message{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    backdrop-filter: blur(10px) saturate(2);
    background: #23232350;
    border-radius: 10px;
}
.flash_message p{
    color: white;
    margin: .7rem;
}
