:root {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #F4F4F4;
    width: 100vw;
    overflow-x: hidden;
}

.parent {
    display: inline-flex;
    gap: 0;
    width: 100%;
    /*padding: 3rem;*/
}

.item1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #F4F4F4;
    width: 10%;
    align-content:space-around;

}

.item1 img {

    border-radius: 20px;
}

.item2 {
    text-align: center;
    background: #F4F4F4;
    width: 100%;
}

.item3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #F4F4F4;
    width: 50%;
}

.mid {
    background: white;
    display: flex;
    width: 100%;
    /*padding: 3rem;*/
}


.mid .left {
    width: 50%;
}

.mid .rigth {
    width: 50%;
}

.FlexContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    overflow: auto;
    flex-direction: column;
    padding: 19px;

}

.FlexContainer div {
    width: 90%;
    height: 100px;
    margin: 20px;
}

.panier {
    color: white;
    background: black;
    justify-content: stretch;
    width: auto;
    border-radius: 30px;
}

.mono-stereo {
    display: flex;
    margin: 0px;
    padding: 0px;

}
.mono-stereo button {
    background:white;
    background-color:white;
    border-radius:5px;
    border:1px solid black;
    display:inline-block;
    cursor:pointer;
    color:black;
    font-family:Arial;
    font-size:16px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
}

.mono-stereo button:hover {

}
.mono-stereo button:active {
    position:relative;
    top:1px;
}
